<div id="sideNavWrapper">
    <header>
        <h2>Alex James</h2>
        <img src="/images/profile-icon.jpeg">
        <p>
            Hi, I'm Alex James Coldicott, Self-taught Web Developer and this is my portfolio.
            <br>
            <a class="text-anchor" href="#">View my resume</a>

        </p>
    </header>
    <hr>
    <div class="socialIcons">
        <a href="https://www.linkedin.com/in/ajcoldi/" target="_blank"><img class="icon-filter" src="/images/icons/linkedin.png" alt="linkedin profile"></a>
        <a href="https://codepen.io/ajcoldi" target="_blank"><img class="icon-filter" src="/images/icons/codepen.png" alt="CodePen profile"></a>
        <a href="https://github.com/ajcoldi" target="_blank"><img class="icon-filter" src="/images/icons/github.png" alt="github profile"></a>
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    </div>
    <hr>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <img class="icon-filter" src="/images/icons/home.png">
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a href="/projects">
                    <img class="icon-filter" src="/images/icons/projects.png">
                    <p>Projects</p>
                </a>
            </li>
            <li>
                <a href="/blogs">
                    <img class="icon-filter" src="/images/icons/blog.png">
                    <p>Blog</p>    
                </a>
            </li>
            <li>
                <a id="contact-anchor" href="/contact">
                    <img class="icon-filter" src="/images/icons/blog.png">
                    <p>Contact Me</p>    
                </a>
            </li>
        </ul>
    </nav>
</div>