* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

small {
  color: gray;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.text-anchor {
  color: whitesmoke;
  text-decoration: underline;
}

.text-anchor-dark {
  color: #324759;
  text-decoration: underline;
}

hr {
  border: solid 1px #F2F2F2;
}

.btn {
  background: #F26363;
  border: solid 2px #F26363;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 40px 80px;
}
main .background-dark {
  background: #324759;
  color: #FFFFFF;
}
main .background-medium {
  background: #F2F2F2;
  color: #324759;
}
main .background-light {
  background: #FFFFFF;
  color: #324759;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: #F26363;
}

.grid-gap-colum-10 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.icon-filter {
  filter: invert(1);
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  #container {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

small {
  color: gray;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.text-anchor {
  color: whitesmoke;
  text-decoration: underline;
}

.text-anchor-dark {
  color: #324759;
  text-decoration: underline;
}

hr {
  border: solid 1px #F2F2F2;
}

.btn {
  background: #F26363;
  border: solid 2px #F26363;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 40px 80px;
}
main .background-dark {
  background: #324759;
  color: #FFFFFF;
}
main .background-medium {
  background: #F2F2F2;
  color: #324759;
}
main .background-light {
  background: #FFFFFF;
  color: #324759;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: #F26363;
}

.grid-gap-colum-10 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.icon-filter {
  filter: invert(1);
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  #container {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
#hbMenu {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
#hbMenu .hbSlice {
  width: 100%;
  height: 4px;
  background: #03ACC4;
}

#closeBtn {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  display: none;
}

#closeBtn:before, #closeBtn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 20px;
  width: 4px;
  background-color: #324759;
}

#closeBtn:before {
  transform: rotate(45deg);
}

#closeBtn:after {
  transform: rotate(-45deg);
}

#sideNavWrapper {
  background: #03ACC4;
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #324759;
}
#sideNavWrapper header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
#sideNavWrapper header img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
#sideNavWrapper .socialIcons {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
#sideNavWrapper .socialIcons a img {
  width: 25px;
}
#sideNavWrapper nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
#sideNavWrapper nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#sideNavWrapper nav ul li {
  list-style: none;
}
#sideNavWrapper nav ul li a {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  padding: 10px 20px;
  color: #324759;
}
#sideNavWrapper nav ul li a img {
  width: 20px;
  filter: invert(0);
  filter: hue-rotate(1);
}
#sideNavWrapper nav ul li #contact-anchor {
  background: #324759;
  color: #FFFFFF;
  border-radius: 5px;
}
#sideNavWrapper nav ul li #contact-anchor img {
  filter: invert(1);
}

@media only screen and (max-width: 800px) {
  #sideNavWrapper {
    background: #03ACC4;
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: fixed;
    display: none;
  }

  #hbMenu {
    display: flex;
  }
}
#modal-background {
  display: none;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #324759;
  transition: all 0.2s ease-in-out;
}

#modal {
  display: none;
  opacity: 0;
  flex-direction: column-reverse;
  grid-gap: 10px;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100%;
  padding-right: 250px;
  margin-left: 250px;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
#modal h1 {
  color: white;
}
#modal img {
  border: solid 4px #303030;
  height: 500px;
  width: 500px;
}

@media only screen and (max-width: 900px) {
  #modal {
    display: none;
    opacity: 0;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-right: 0px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

small {
  color: gray;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.text-anchor {
  color: whitesmoke;
  text-decoration: underline;
}

.text-anchor-dark {
  color: #324759;
  text-decoration: underline;
}

hr {
  border: solid 1px #F2F2F2;
}

.btn {
  background: #F26363;
  border: solid 2px #F26363;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 40px 80px;
}
main .background-dark {
  background: #324759;
  color: #FFFFFF;
}
main .background-medium {
  background: #F2F2F2;
  color: #324759;
}
main .background-light {
  background: #FFFFFF;
  color: #324759;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: #F26363;
}

.grid-gap-colum-10 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.icon-filter {
  filter: invert(1);
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  #container {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
#index-about-section {
  display: flex;
  align-items: center;
  grid-gap: 40px;
}
#index-about-section img {
  width: 400px;
}
#index-about-section #index-about-text div {
  display: flex;
  justify-content: flex-end;
}
#index-about-section #index-about-text div a {
  display: inline-block;
}

#index-skills-header {
  text-align: center;
}

#index-skills {
  display: flex;
  justify-content: space-evenly;
}

.skill {
  align-items: center;
  justify-content: space-between;
}
.skill img {
  width: 50px;
}
#index-knowledge-header {
  text-align: center;
}

#index-knowledge {
  display: flex;
  justify-content: space-evenly;
}
#index-knowledge div {
  align-items: center;
}
@media only screen and (max-width: 1100px) {
  #index-about-section {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

small {
  color: gray;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.text-anchor {
  color: whitesmoke;
  text-decoration: underline;
}

.text-anchor-dark {
  color: #324759;
  text-decoration: underline;
}

hr {
  border: solid 1px #F2F2F2;
}

.btn {
  background: #F26363;
  border: solid 2px #F26363;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 40px 80px;
}
main .background-dark {
  background: #324759;
  color: #FFFFFF;
}
main .background-medium {
  background: #F2F2F2;
  color: #324759;
}
main .background-light {
  background: #FFFFFF;
  color: #324759;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: #F26363;
}

.grid-gap-colum-10 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.icon-filter {
  filter: invert(1);
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  #container {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
#projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 40px;
}
#projects-section .project {
  display: flex;
  grid-gap: 20px;
}
#projects-section .project .project-thumb-img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 2px #303030;
}
#projects-section .project .project-thumb-img:hover {
  cursor: zoom-in;
}
#projects-section .project .project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#projects-section .project .project-text .project-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 20px;
}
@media only screen and (max-width: 900px) {
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: 20px;
  }
  .project .project-text {
    grid-gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

small {
  color: gray;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.text-anchor {
  color: whitesmoke;
  text-decoration: underline;
}

.text-anchor-dark {
  color: #324759;
  text-decoration: underline;
}

hr {
  border: solid 1px #F2F2F2;
}

.btn {
  background: #F26363;
  border: solid 2px #F26363;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 40px 80px;
}
main .background-dark {
  background: #324759;
  color: #FFFFFF;
}
main .background-medium {
  background: #F2F2F2;
  color: #324759;
}
main .background-light {
  background: #FFFFFF;
  color: #324759;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: #F26363;
}

.grid-gap-colum-10 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.icon-filter {
  filter: invert(1);
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  #container {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
#art-section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "art1 art1 art1 art2 art2 art2" "art3 art3 art4 art4 art5 art5" "art6 art6 art6 art7 art7 art7" "art8 art8 art8 art9 art9 art9";
}
#art-section #art1 {
  grid-area: art1;
}
#art-section #art2 {
  grid-area: art2;
}
#art-section #art3 {
  grid-area: art3;
}
#art-section #art4 {
  grid-area: art4;
}
#art-section #art5 {
  grid-area: art5;
}
#art-section #art6 {
  grid-area: art6;
}
#art-section #art7 {
  grid-area: art7;
}
#art-section #art8 {
  grid-area: art8;
}
#art-section #art9 {
  grid-area: art9;
}
#art-section div img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  #art-section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "art1" "art2" "art3" "art4" "art5" "art6" "art7" "art8" "art9";
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

small {
  color: gray;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.text-anchor {
  color: whitesmoke;
  text-decoration: underline;
}

.text-anchor-dark {
  color: #324759;
  text-decoration: underline;
}

hr {
  border: solid 1px #F2F2F2;
}

.btn {
  background: #F26363;
  border: solid 2px #F26363;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 40px 80px;
}
main .background-dark {
  background: #324759;
  color: #FFFFFF;
}
main .background-medium {
  background: #F2F2F2;
  color: #324759;
}
main .background-light {
  background: #FFFFFF;
  color: #324759;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: #F26363;
}

.grid-gap-colum-10 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.icon-filter {
  filter: invert(1);
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  #container {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
#blogs-card-section {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
#blogs-card-section .blog-card {
  box-shadow: 0 0 5px lightgray;
}
#blogs-card-section .blog-card .blog-card-thumb-img {
  width: 100%;
}
#blogs-card-section .blog-card .blog-card-text {
  padding: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

small {
  color: gray;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.text-anchor {
  color: whitesmoke;
  text-decoration: underline;
}

.text-anchor-dark {
  color: #324759;
  text-decoration: underline;
}

hr {
  border: solid 1px #F2F2F2;
}

.btn {
  background: #F26363;
  border: solid 2px #F26363;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
}

body {
  font-family: "Roboto", sans-serif;
}

#container {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

main section {
  padding: 40px 80px;
}
main .background-dark {
  background: #324759;
  color: #FFFFFF;
}
main .background-medium {
  background: #F2F2F2;
  color: #324759;
}
main .background-light {
  background: #FFFFFF;
  color: #324759;
}

.btn:hover {
  cursor: pointer;
  background: none;
  color: #F26363;
}

.grid-gap-colum-10 {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.icon-filter {
  filter: invert(1);
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
  #container {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  font-family: "Roboto", sans-serif;
}
form div {
  width: 50%;
  display: flex;
  justify-content: center;
}
form div input {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  width: 100%;
}
form div textarea {
  border-radius: 10px;
  border: none;
  width: 100%;
  resize: none;
  height: 200px;
  padding: 10px;
  font-size: 16px;
}
@media only screen and (max-width: 1000px) {
  form div {
    width: 80%;
  }
}
@media only screen and (max-width: 580px) {
  form div {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
