@import '../global.scss';


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
    font-family: 'Roboto', sans-serif;

    div{
        width: 50%;
        display: flex;
        justify-content: center;
        input{
            padding: 10px 20px;
            border-radius: 50px;
            border: none;
            width: 100%;
        }
        textarea{
            border-radius: 10px;
            border: none;
            width: 100%;
            resize: none;
            height: 200px;
            padding: 10px;
            font-size: 16px;

        }
        button{
            
        }
    }
    
}

@media only screen and (max-width: 1000px) {   
    form{
        div{
            width: 80%;
            
        }   
    }
}
@media only screen and (max-width: 580px) {   
    form{
        div{
            width: 100%;
            
        }   
    }
}