<%- include('../layouts/header') %>

<div id="modal-background"></div>
<div id="modal">
    <h1 id="modal-closeBtn">X</h1>
    <img class="modal-content" id="img01">
</div>

<main>
    <section class="background-dark">
        <div id="art-header" class="grid-gap-colum-10">
            <h3>Art and Designs</h3>
            <p>Check out some of my concepts and artwork.</p>
        </div>
    </section>
    <section>
        <div id="art-section" >
            <div id="art1">
                <img  src="/images/art/freddie.jpg">
            </div>
            <div id="art2">
                <img src="/images/art/roboguy.jpg">
            </div>
            <div id="art3">
                <img  src="/images/art/monkey.jpg">
            </div>  
            <div id="art4">
                <img  src="/images/art/helmet.jpg">
            </div> 
            <div id="art5">
                <img  src="/images/art/moon.jpg"> 
            </div>
            <div id="art6">
                <img  src="/images/art/furniture store mock1jpg.jpg"> 
            </div>
            <div id="art7">
                <img  src="/images/art/huawieMock1.png"> 
            </div>
            <div id="art8">
                <img  src="/images/art/ipodInfographic.jpg"> 
            </div>
            <div id="art9">
                <img  src="/images/art/theDeepDesign.jpg"> 
            </div>
        </div>
    </section>
</main>
<%- include('../layouts/footer') %>
