<%- include('../layouts/header') %>

<main>
    <section class="background-dark">
        <div id="blogs-header" class="grid-gap-colum-10">
            <h3>Blogs</h3>
            <p>Welcome to my website Welcome to my website Welcome to my website Welcome to my website Welcome to my website Welcome to my website </p>
        </div>
    </section>
    <section>
        <div id="blogs-card-section">

            <div class="blog-card">
                <a href="#">
                    <img class="blog-card-thumb-img" src="/images/blog-thumbnails/banner1.jfif">
                </a>
                <div class="blog-card-text">
                    <h3>title</h3>
                    <small>Published on: 12/02/2021 - 8 minute read</small>                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Phasellus mollis nisi ac mollis iaculis. Ut in posuere nulla.      
                        Phasellus mollis nisi ac mollis iaculis. Ut in posuere nulla.      
                        Phasellus mollis nisi ac mollis iaculis. Ut in posuere nulla.      
                        Phasellus mollis nisi ac mollis iaculis. Ut in posuere nulla.      
                        Phasellus mollis nisi ac mollis iaculis. Ut in posuere nulla.      
                    <div class="blog-card-buttons">
                        <a class="text-anchor"  href="#">Read more...</a>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
</main>
<%- include('../layouts/footer') %>
