
<%- include('../layouts/header') %>

<main>
    <section class="background-dark">
        <div id="index-header" class="grid-gap-colum-10">
            <h3>Welcome to my portfolio website</h3>
            <p>
                Take a look at some of my projects and learn a bit about me. 
                I designed and built my portfolio website using Sass, express and mongoose.
                Form more info on this build, check out the <a class="text-anchor" href="#">projects page</a> 
                or <a class="text-anchor" href="#">click here</a> to view the github repo.
            </p>
        </div>
    </section>
    <section class="background-light">
        <div id="index-about-section">
            <img src="/images/webDevImg3.png">
            <div id="index-about-text" class="grid-gap-colum-10">
                <h3>A bit about Me</h3>
                <p>
                    I'm a self taught web developer based in hull. 
                    I grew up on the east coast of Lincolnshire in a small seaside town.

                    since then I've worked in a range of jobs, from sales, to management. 
                    
                    For the past couple of years I've been learning web development in my spare time so
                    that I can enter into a career that I find fulfilling and I truly enjoy.
                </p>    
                <div>
                    <a href="images/AlexColdicott-CV main[697].pdf" target="_blank" class="btn">View Resume</a>
                </div>
            </div>
        </div>
    </section>
    <section class="background-medium">
            <div id="index-skills-header" class="grid-gap-colum-10">
                <h3>My Skills</h3>
                <p>
                    The technologies below are the main ones I use however my skillset isn't limited to these. 
                    I have a really strong ability with CSS and typically couple this with Sass to keep things well organised.

                    I'm pretty creative and enjoy design aswell, so I know my way around tech like photoshop and I have a strong design workflow.
                    
                </p>
            </div>
    </section>
    <section class="background-medium">
        <div id="index-skills">
            <div class="skill grid-gap-colum-10" > 
                <img src="/images/icons/css.png" class="skillIcon">
                <p>CSS</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/sass.svg" class="skillIcon">
                <p>Sass</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/javascript.svg" class="skillIcon">
                <p>JavaScript</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/nodejs-icon.svg" class="skillIcon">
                <p>NodeJS</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/mongodbIcon.svg.png" class="skillIcon">
                <p>MongoDB</p>
            </div>        
        </div>
    </section>
    <section class="background-medium">
        <div id="index-knowledge-header" class="grid-gap-colum-10">
            <h3>Knowledge of and Currently Learning</h3>
            <p>
                Again, this is only a handful of technologies that i have worked with and experimented with.
            </p>
        </div>
    </section>
    <section class="background-medium">
        <div id="index-knowledge">
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/php.png" class="skillIcon">
                <p>Vue</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/react.svg" class="skillIcon">
                <p>React</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/materializecss.svg" class="skillIcon">
                <p>Matirialise</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/Vue.png" class="skillIcon">
                <p>PHP</p>
            </div>
        </div>
    </section>
</main>


<%- include('../layouts/footer') %>


