
<%- include('../layouts/header') %>

<main>
    <section class="background-dark">
        <div id="index-header" class="grid-gap-colum-10">
            <h3>Welcome to my portfolio website</h3>
            <p>
                Thanks for visiting my website! <a class="text-anchor" href="/projects">Click here</a> to check out some of my projects or <a class="text-anchor" target="blank" href="https://github.com/ajcoldi">here</a> to view my github repo.
            </p>
        </div>
    </section>
    <section class="background-light">
        <div id="index-about-section">
            <img src="/images/webDevImg3.png">
            <div id="index-about-text" class="grid-gap-colum-10">
                <h3>A bit about Me</h3>
                <p>
                    I’m a Hull based web developer looking to kick start my career. 
                    <br>
                    <br>
                    I’m a highly creative person so I find the process of designing and building websites super engaging! 
                    <br>
                    <br>
                    Being a creative, I have a real passion for art and design,

                    take a look at some of my artwork and web concepts <a class="text-anchor-dark" href="/art">here</a>.
                </p>    
                <div>
                    <a href="/images/Alex Coldicott -WD - CV.pdf" target="_blank" class="btn">View Resume</a>
                </div>
            </div>
        </div>
    </section>
    <section class="background-medium">
            <div id="index-skills-header" class="grid-gap-colum-10">
                <h3>My Skills</h3>
                <p>
                    Below are a handful of the technologies that I’m competent with. I’m much more experienced using front end technologies however I recently began using express and I love it. I will certainly be learning  more back end concepts from now on.
                </p>
            </div>
    </section>
    <section class="background-medium">
        <div id="index-skills">
            <div class="skill grid-gap-colum-10" > 
                <img src="/images/icons/css.png" class="skillIcon">
                <p>CSS</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/sass.svg" class="skillIcon">
                <p>Sass</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/javascript.svg" class="skillIcon">
                <p>JavaScript</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/nodejs-icon.svg" class="skillIcon">
                <p>NodeJS</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/mongodbIcon.svg.png" class="skillIcon">
                <p>MongoDB</p>
            </div>        
        </div>
    </section>
    <section class="background-medium">
        <div id="index-knowledge-header" class="grid-gap-colum-10">
            <h3>Knowledge of and Currently Learning</h3>
            <p>
                Again, the stack below only represents a small number of tech that I have experimented with. My next challenge is to gain a solid understanding of integrating a react front end into an express server.             </p>
        </div>
    </section>
    <section class="background-medium">
        <div id="index-knowledge">
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/react.svg" class="skillIcon">
                <p>React</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/materializecss.svg" class="skillIcon">
                <p>Matirialise</p>
            </div>
            <div class="skill grid-gap-colum-10"> 
                <img src="/images/icons/php.png" class="skillIcon">
                <p>PHP</p>
            </div>
        </div>
    </section>
</main>


<%- include('../layouts/footer') %>


