<%- include('../layouts/header') %>

<div id="modal-background"></div>
<div id="modal">
    <h1 id="modal-closeBtn">X</h1>
    <img class="modal-content" id="img01">
</div>

<main>
    <section class="background-dark">
        <div id="projects-header" class="grid-gap-colum-10">
            <h3>Projects</h3>
            <p>Take a look at some of my projects.</p>
        </div>
    </section>
    <section>
        <div id="projects-section" >
            <div class="project">
                <img class="project-thumb-img" src="/images/project-thumbnails/italia-mockup.jpg">
                <div class="project-text">
                    <h3>Bello Italiano</h3>
                    <small>Stack: Express/Sass/EJS</small>                    
                    <p>
                        This website is a front end mock designed and built by me. For this project I used express for the routing, ejs as a templating engine  and sass. I plan on adding a basic admin panel s and crud so the menu section can be changed.
                    </p>    
                    <div class="project-buttons">
                        <a class="text-anchor-dark" target="blank"  href="https://classique-chaise-99858.herokuapp.com/">Vist Website</a>
                        <a class="btn" href="#">View Code</a>
                    </div>
                </div>
            </div>
            <div class="project">
                <img class="project-thumb-img" src="/images/project-thumbnails/game-mockup.jpg">
                <div class="project-text">
                    <h3>Game.co.uk Clone</h3>
                    <small>Stack: Npm/Sass/Fontawesome</small>                    
                    <p>
                        Original website - <a class="text-anchor-dark" target="blank" href="https://www.game.co.uk/">www.game.co.uk</a> - This website is a fully responsive clone. At this point there is no Javascript functionality however I may add some for the UI. The sections of the webpage are made using Grids and Flexbox accordingly. 

                    </p>    
                    <div class="project-buttons">
                        <a class="text-anchor-dark" target="blank"    href="https://gameukclone-f6589.web.app/">Vist Website</a>
                        <a class="btn" href="#">View Code</a>
                    </div>
                </div>
            </div>
            <div class="project">
                <img class="project-thumb-img" src="/images/project-thumbnails/aruk-mockup.jpg">
                <div class="project-text">
                    <h3>ARUK Clone</h3>
                    <small>Stack: Npm/Sass/Fontawesome</small>                    
                    <p>
                        Original website - <a class="text-anchor-dark" target="blank" href="https://www.alzheimersresearchuk.org/">www.alzheimersresearchuk.org</a> - This webpage is a clone which is fully responsive. I plan on adding several Javascript features for the UI and to animate some components which are currently static.

                    </p>    
                    <div class="project-buttons">
                        <a class="text-anchor-dark" target="blank"    href="https://aruk-clone.web.app/">Vist Website</a>
                        <a class="btn" href="#">View Code</a>
                    </div>
                </div>
            </div>
            <div class="project">
                <img class="project-thumb-img" src="/images/project-thumbnails/oldPortfolio-mockup.jpg">
                <div class="project-text">
                    <h3>Old Portfolio</h3>
                    <small>Stack: CSS/Javascript/JQueryUI</small>                    
                    <p>
                        My old portfolio website. Although I like the design, the website never felt personalised. Also my coding ability is very undeveloped compared to now. 
                    </p>    
                    <div class="project-buttons">
                        <a class="text-anchor-dark" target="blank"    href="https://ajcoldi.github.io/">Vist Website</a>
                        <a class="btn" href="#">View Code</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('../layouts/footer') %>
