@import '../global.scss';

#hbMenu{
    height: 30px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    .hbSlice{
        width: 100%;
        height: 4px;
        background: $side-nav;
    }
}
#closeBtn{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    display: none;
}
#closeBtn:before, #closeBtn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 50px;
    width: 4px;
    background-color: $background-dark;
  }
  #closeBtn:before {
    transform: rotate(45deg);
  }
  #closeBtn:after {
    transform: rotate(-45deg);
  }

#sideNavWrapper{
    background: $side-nav;
    width: 250px;
    height: 100vh;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $text-dark;
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
        h2{}
        img{
            height: 100px;
            width: 100px;
            border-radius: 50px;
        }
        p{
            a{
                
            }
        }
    }
    .socialIcons{
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        a{
           
            img{
                width: 25px;
                
            }
        }
    }
    nav{
        flex: 1;
        display: flex;
        justify-content: center;
        
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            li{
                list-style: none;
                a{
                    display: flex;
                    align-items: center;
                    grid-gap: 20px;
                    padding: 10px 20px;
                    color:  $text-dark;
                    img{
                        width: 20px;
                        filter: invert(0);
                        filter:hue-rotate(1);
                    }
                    p{}
                }
                #contact-anchor{
                    background: $text-dark;
                    color: $text-light;
                    border-radius: 5px;
                    img{
                        filter: invert(1);
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 800px) {      
    #sideNavWrapper{
        background: $side-nav;
        width: 100%;
        height: 100vh;
        padding: 20px;
        position: fixed;
        display: none;
    }
    #hbMenu{
        display: flex;
    }
}